############################
#Python Specific GitIgnore#
############################
*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

#################
# Installer logs#
#################
pip-log.txt

###############################
# Unit test / coverage reports#
###############################
.coverage
.tox
nosetests.xml

# Eclipse pydev
.project
.pydevproject

##########################
#Linux Specific GitIgnore#
##########################
.*
!.gitignore
*~
*.sw[a-p]

# KDE
.directory

############################
#Eclipse Specific GitIgnore#
############################
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

